.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 7.5fr 1.5fr;
    .header {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        .backButton {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        .chatTitle {
            font-weight: 500;
            font-size: 1rem;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            &.mobile {
                font-size: 1.5rem;
            }
        }
    }
    .main {
        overflow-y: scroll;
        .chatItem {
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            gap: 0.6em;
            padding: 0.5em 3em 0.5em 0.5em;
            margin: 0.25em 0;
            .avatar {
                width: 1.8em;
                height: 1.8em;
                border-radius: 0.2em;
            }
            .chatDiv {
                display: flex;
                align-items: center;
                .chatBox {
                    position: relative;
                    background-color: #fff;
                    border-radius: 0.2em;
                    padding: 0.5em;
                    font-size: 1em;
                    &::before {
                        position: absolute;
                        top: 0.9em;
                        left: 0;
                        transform: translate(-95%, -50%);
                        content: "";
                        width: 0;
                        height: 0;
                        border-top: 0.3em solid transparent;
                        border-bottom: 0.3em solid transparent;
                        border-right: 0.3em solid #fff;
                    }
                }
            }
            &.right {
                flex-direction: row-reverse;
                padding: 0.5em 0.5em 0.5em 3em;
                .chatDiv {
                    .chatBox {
                        background: linear-gradient(45deg, #b993d6, #8ca6db);
                        color: rgba(255, 255, 255, 0.8);
                        &::before {
                            content: none;
                        }
                        &::after {
                            position: absolute;
                            top: 0.9em;
                            right: 0;
                            transform: translate(95%, -50%);
                            content: "";
                            width: 0;
                            height: 0;
                            border-top: 0.3em solid transparent;
                            border-bottom: 0.3em solid transparent;
                            border-left: 0.3em solid #8ca6db;
                        }
                    }
                }
            }
            &.dense {
                font-size: 1.5rem;
                .avatar {
                    width: 2.5em;
                    height: 2.5em;
                }
            }
        }
    }
    .textField {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 0.8rem;
        &.mobile {
            font-size: 1.5rem;
            padding: 1rem;
        }
        .input-message {
            width: 100%;
            box-sizing: border-box;
            padding: 0.5em;
            font-size: 1em;
            resize: none;
            border-color: rgba(0, 0, 0, 0.2);
            border-radius: 0.2em;
            &:focus {
                outline-color: #b993d6;
            }
        }
    }
}