.list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow-y: scroll;
    .listItem {
        display: grid;
        grid-template-columns: 2fr 6fr;
        gap: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        height: 6rem;
        padding: 2% 5%;
        .avatar {
            width: 4rem;
            height: 4rem;
            border-radius: 0.4rem;
        }
        span {
            font-size: 1.5rem;
        }
        &.dense {
            height: 4rem;
            .avatar {
                width: 2.5rem;
                height: 2.5rem;
            }
            span {
                font-size: 1rem;
            }
        }
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .listText {
            justify-content: flex-start;
        }
    }
}